@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");
.header {
  background-color: #021c1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}

.header-logo {
  color: rgb(190, 55, 55);
  width: 50px;
}

.list-item {
  display: inline;
  color: white;
  padding: 10px;
  margin: 2px;
  font-size: 20px;
  font-family: "Nanum Gothic", sans-serif;
}

.logo {
  width: 100px;
}

.header-menu {
  position: relative;
}
.list-item::after {
  content: "";
  padding-left: 20px;
}

.list-item:last-child::after {
  content: "";
}

.title {
  padding: 10px;
}
