@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
.button-home {
  display: inline-block;
  border-radius: 4px;
  background-color: #021c1e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-home span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-home span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-home:hover span {
  padding-right: 25px;
}

.button-home:hover span:after {
  opacity: 1;
  right: 0;
}

.home-title {
  font-family: "Anton", sans-serif;
  color: #021c1e;
  font-size: 50px;
  padding: 20px 10px 20px 0px;
}

.no-imge {
  width: 300px;
}

.home-grid {
  max-width: 1400;
  margin-top: 10px;
}
