.card {
  color: yellow;
  background-image: radial-gradient(#32e5fc, #31abf7);
  border: 2px outset white;
  border-width: 8px;
  padding: 8px;
  display: flex;
  justify-content: start;
  align-self: center;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-column: 2;
  grid-template-columns: 1fr 1fr;
}

.card-img1 {
  width: 100px;
}

.card-img2 {
  width: 94px;
}

.card-img3 {
  width: 100px;
}

.card-img4 {
  width: 100px;
}

.par {
  color: white;
  font-style: bold;
  text-align: center;
}
