@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.card {
  color: white;
  background-color: #021c1e;
  padding: 0;
  display: block;
  border-radius: 0px;
  min-width: 0;
}

.card-img {
  float: left;
  border-radius: 5px;
  padding: 10px;
}

.par {
  color: white;
  font-style: bold;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-height: 120px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 5%;
  padding: 5px;
  background-color: grey;
  border-color: grey;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #1e201e;
  border-radius: 12%;
  color: white;
}
.button-div {
  display: flex;
  justify-content: flex-end;
}

.genre {
  display: flex;

  font-size: 12px;
}

.genre-item {
  padding: 5px 0px 5px 5px;
}
.card-div {
  display: flex;
  justify-content: space-around;
}

.text {
  padding: 20px;
}
