body {
  background-image: linear-gradient(to right, #07575b, #66a5ad);
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1 1 auto;
  width: 1300px;
  margin: 0 auto;
}

.app a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  margin: auto;
}

.app a:hover {
  text-decoration: underline;
}
