@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
.individual-actor {
  box-shadow: 0px 8px 16px 0px black;
  background-color: #66a5ad;
}

.movie-actors {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: 1;
  grid-gap: 10px;
  width: 980px;
  padding-top: 40px;
  justify-content: space-evenly;
}
.actor-role {
  font-size: 16px;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  padding-top: 5px;
}
.actor-name {
  font-size: 30px;
  color: #021c1e;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 8px;
}

.actor-image {
  width: 220px;

  box-shadow: 5px 5px 10px #021c1e;
}

.no-actor-image {
  width: 220px;
  height: 330px;
}

.actors-section {
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: #021c1e;
}

.text-actor {
  padding-left: 0px 10px 0px 10px;
}

.actor-details {
  width: 220px;
}
