.individual-actor {
  box-shadow: 0px 8px 16px 0px black;
  background-color: #66a5ad;
}

.movie-actors {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: 1;
  grid-gap: 20px;
}
.actor-role {
  font-size: 20px;
}
.actor-name {
  font-size: 30px;
}

.actor-image {
  width: 220px;
}

.no-actor-image {
  width: 220px;
  height: 330px;
}
.actors-introduction {
  font-size: 40px;
  padding-bottom: 10px;
  font-family: "Nanum Gothic", sans-serif;
}

.actors-section {
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: #021c1e;
}

.text-actor {
  padding-left: 10px;
  padding-right: 10px;
}
